modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 42305
externalPort = 3002

[[ports]]
localPort = 46233
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Start Portfolio"
author = 43948119
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Portfolio Dev Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend Server"

[[workflows.workflow]]
name = "Portfolio Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "GENERATE_SOURCEMAP=false HOST=0.0.0.0 PORT=5000 npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Backend Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[agent]
expertMode = true
