.text-block {
text-align: center;
  color: #ffffff;
    font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 1.5em;
  margin-inline: 6%;
}

.char {
  will-change: transform;
  display: inline-block;
}
